[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Fix Gnome volume
Comment=
Exec=/home/tv-user/dev/jamesstuff/mediapc-utils/fix-gnome-volume
StartupNotify=false
Terminal=false
Hidden=false

