[Unit]
Description=Disable /crypto_keyfile.bin on every boot
After=basic.target

[Service]
Type=oneshot
ExecStart=/bin/cryptsetup luksRemoveKey /dev/disk/by-uuid/%i /crypto_keyfile.bin --key-slot 7
SuccessExitStatus=2

[Install]
WantedBy=basic.target
